body {
  font-family: "Raleway", serif;
  color: #000;
  margin: 0px;
}

.main-image {
  position: absolute;
  right:0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow:hidden;
  height: 100%;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background-color: #071119;
}

.showcase {
  background-color: rgb(22, 30, 40);
  color: #5f7892;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  word-break: break-all;
  white-space: normal;
}

.glitch-item {
  color: #2b3d50;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}

ul {
  list-style-type: none;
}

.bg2 {
  background-color: darkgrey;
}

.navbar {
  justify-content: center;
  overflow: hidden;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

.navbar,
a {
  color: rgb(105, 102, 102);
  text-decoration: none;
}

#head {
  font-family: monospace;
  color: #fff;
  margin: auto;
  padding: 35px;
  font-size: 40px;
  text-align: center;
}
#bar {
  text-align: center;
  width: 750px;
  height: 25px;
  background-color: #dad9d9;
  margin: 0 auto;
  font-family: monospace;
  padding: auto;
  float: none;
  border-radius: 5px;
}
#red {
  background-color: #e94b35;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  left: -47%;
  bottom: -20%;
  position: relative;
}
#yellow {
  background-color: #f0f000;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  left: -44%;
  bottom: 40%;
  position: relative;
  display: block;
}
#green {
  background-color: #1aaf5c;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  left: -41%;
  bottom: 99%;
  position: relative;
  display: block;
}
#screen {
  background-color: #33485e;
  width: 750px;
  height: 450px;
  border-radius: 2%;
  margin: 0 auto;
  padding: 1px;
  position: relative;
}
.font {
  color: #fff;
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  position: static;
}

.term-iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 740px;
  height: 440px;
  border: 0px;
}

.quote {
  position: absolute;
  right: 1000px;
  top: 280px;
  width: 240px;
  font-size: 40px;
  font-family: "Teko";
  color: #e1e5e9;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.15;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
