body {
  font-family: "Raleway", serif;
  color: #000;
  margin: 0px;
}

.main-image {
  position: absolute;
  right:0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow:hidden;
  height: 100%;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background-color: #071119;
}

.showcase {
  background-color: rgb(22, 30, 40);
  color: #5f7892;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  word-break: break-all;
  white-space: normal;
}

.glitch-item {
  color: #5f7892;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}

ul {
  list-style-type: none;
}

.bg2 {
  background-color: darkgrey;
}



.navbar,
a {
  color: #5f7892;
  text-decoration: none;
}

.font {
  color: #fff;
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  position: static;
}

.quote {
  position: absolute;
  right: 1200px;
  top: 280px;
  width: 240px;
  font-size: 40px;
  font-family: "Teko";
  color: #e1e5e9;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.15;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
